
<div class="text-center">
    <h1 class="display-4">Efetue uma nova proposta de analise de credito</h1>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="container">

</div>
